# Instructions

Вам выдано 2 датасета: 
- P04_TRAIN.pq (train)
- P04_TEST.pq (test)

Вам необходимо обучить модель на данных из **train**, и проскорить датасет **test**.

Это задача на *бинарную* классификацию, с *дисбалансированными* классами.
Вам доступны *любые* библиотеки и инструменты, которые есть на python.

**<span style='color:red'> !!! </span>** Так же необходимо оформлять ноутбук и стараться комментировать коды в каждом этапе решения задачи **<span style='color:red'> !!! </span>**

После скоринга, вам необходимо отправить проскоренный .csv файл в формате, и ноутбук с решением (можно и ссылку в collab):
**[ID, predicted]**

# Начало проекта

In [1]:
import pandas as pd

In [2]:
df_train = pd.read_parquet('P04_TRAIN.pq')
df_test  = pd.read_parquet('P04_TEST.pq')

In [3]:
df_train

,ID,TARGET,FEATURE_1,FEATURE_2,FEATURE_3,FEATURE_4,FEATURE_5,FEATURE_6,FEATURE_7,FEATURE_8,...,FEATURE_405,FEATURE_406,FEATURE_407,FEATURE_408,FEATURE_409,FEATURE_410,FEATURE_411,FEATURE_412,FEATURE_413,FEATURE_414
0,1-33725273547,0,0.604733,0.303755,0.001755,0.291645,0.101433,4.995094,0.0,0.000000,...,NaN,NaN,NaN,NaN,-1.0,-1.0,None,-1.0,NaN,NaN
1,1-33165158948,0,0.730506,4.031284,0.000106,2.883802,0.485855,0.000000,0.0,0.000000,...,NaN,NaN,NaN,NaN,-1.0,-1.0,None,-1.0,NaN,NaN
2,1-33270455953,0,0.000032,0.774739,0.000010,7.657499,0.138511,4.102084,0.0,1.285695,...,NaN,NaN,560.321126,560.211151,-1.0,-1.0,None,-1.0,NaN,NaN
3,1-32934335615,0,1.647914,5.325781,0.001407,6.557573,0.376410,15.120202,0.0,0.000000,...,NaN,NaN,NaN,NaN,-1.0,-1.0,None,-1.0,NaN,NaN
4,1-34112605832,0,3.891732,4.414761,0.080974,3.016513,1.943187,2.387400,0.0,0.000000,...,NaN,NaN,726.932805,726.932805,-1.0,-1.0,None,-1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20133,1-33194268837,0,0.000000,4.755190,0.000000,0.348208,0.198604,3.159066,0.0,0.127652,...,NaN,NaN,854.613439,854.613439,-1.0,-1.0,None,-1.0,NaN,NaN
20134,1-33493779388,0,0.326693,6.469571,0.032283,23.842242,6.409096,1.856867,0.0,0.000000,...,NaN,NaN,0.000000,0.000000,-1.0,-1.0,None,-1.0,NaN,NaN
20135,1-34046404092,0,0.349497,0.764158,0.000229,5.766869,0.070918,2.970987,0.0,0.000000,...,NaN,NaN,NaN,NaN,-1.0,-1.0,None,-1.0,NaN,NaN
20136,1-34345700658,0,0.091942,0.187871,0.000000,3.402073,0.852378,1.379387,0.0,0.000000,...,NaN,NaN,NaN,NaN,-1.0,-1.0,None,-1.0,NaN,NaN
20137,1-33449984445,0,0.934653,0.737914,0.000530,23.119934,1.221969,5.430009,0.0,0.067660,...,NaN,NaN,637.413395,0.000000,-1.0,-1.0,None,-1.0,NaN,NaN

In [5]:
df_train['TARGET'].value_counts()

TARGET
0    20000
1      138
Name: count, dtype: int64

In [7]:
df_train.columns

Index(['ID', 'TARGET', 'FEATURE_1', 'FEATURE_2', 'FEATURE_3', 'FEATURE_4',
       'FEATURE_5', 'FEATURE_6', 'FEATURE_7', 'FEATURE_8',
       ...
       'FEATURE_405', 'FEATURE_406', 'FEATURE_407', 'FEATURE_408',
       'FEATURE_409', 'FEATURE_410', 'FEATURE_411', 'FEATURE_412',
       'FEATURE_413', 'FEATURE_414'],
      dtype='object', length=416)